body,
h1,
p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
}

body,
html {
    width: 100%;
    overflow-x: hidden;
}

.disableDash {
    display: none;
}

#dashboard,
#setting,
#favorites {
    overflow-x: hidden;
    /* min-height: 375px; */
    min-width: 320px;
}

.der.closed {
    max-width: 0;
}


/* #setting,favorites{
    display: none;
} */

.slideLeft {
    transition: 1s;
}

*/ .back {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}


/* dashboard section */

body {
    background-color: #E8EDDF;
}

#main {
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

#low,
#high {
    font-size: 3rem;
}

#currTemp {
    width: 10rem;
}

#low {
    color: #1278FF;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#high {
    color: #C92623;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#currTemp img {
    width: 100%;
}

#setIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#favIcon {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

a {
    color: #333533;
    cursor: pointer;
}

.listItem {
    display: inline;
}

.hourRow {
    display: flex;
    justify-content: space-around;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}

#list tr {
    background-color: #F5CB5C;
    height: 3.4rem;
}

#hourTable tr:nth-last-of-type(2n+1) {
    background-color: #CFDBD5;
}

#tHead {
    background-color: #CFDBD5;
}


/* main section end */


/* settings section ========================================================  */

#setting {
    position: relative;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    background-color: #242423;
    color: #F5CB5C;
    padding: 1.5rem;
}

#aboutP {
    color: #E8EDDF;
    background-color: #242423;
    padding: 1.5rem;
}

#aboutP2 {

    background-color: #F5CB5D;
    padding: 1rem;
}

.me {
    text-align: center;
    padding: 1.5rem;
    background-color: #333533;
    color: #F5CB5C;
}

#change {
    height: 18.7rem;
}

#change p {}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

.inputsec {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}

.inputsec input {
    background-color: #ccc;
    border: 2px #333533 solid;
    padding: 0.4rem;
}

#backIcon {
    position: absolute;
    left: 1rem;
    top: 1.5rem;
}

#backIcon a {
    color: #F5CB5D;
}


/* setting section end */


/* Favorites Section ================================================================= */

#favorites {
    position: relative;
}

#favZip {
    display: flex;
    justify-content: space-around;
    background-color: #F5CB5C;
    align-items: center;
    padding: 1rem;
}

#map {
    width: 100%;
    height: 23rem;
}

#favZip button {
    background-color: grey;
    border-radius: 5px;
    padding: .3rem .7rem;
}

#favZip input {
    background-color: #ccc;
    border: 2px #333533 solid;
    padding: 0.4rem;
}

#fwdIcon {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}

#fwdIcon a {
    color: #F5CB5D;
}
/* Favorites Section end */


/* sourced code */
/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
    display: none;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: green;
}

input:focus+.slider {
    box-shadow: 0 0 1px green;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* moving clouds */

.container {
    background-color: #007ced;
}

#main {
    background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
    background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0 200px, url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px, url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px 250px;
    animation: wind 100s linear infinite;
}

@keyframes wind {
    0% {
        background-position: 0 200px, 0 300px, 100px 250px;
    }
    100% {
        background-position: 1000px 200px, 1200px 300px, 1100px 250px;
    }
}

/* media q */
/*iPhone 6 Portrait*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    #dashboard,
    #setting,
    #favorites {
        min-width: 375px;
    }

    #map {
        height: 29rem;
    }

    #change {
        height: 21.7rem;
    }
}
/*iPhone 6+ Portrait*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
    #dashboard,#setting,#favorites{
        min-width: 414px;
    }
    #map{
        height: 33.5rem;
    }
    #change{
        height: 25.5rem;
    }
}